{
  "openapi": "3.0.3",
  "info": {
    "title": "Iris Sweets API",
    "version": "0.0.1",
    "description": "OpenAPI-схема IRIS API"
  },
  "servers": [
    {
      "url": "https://iris-tg.ru/api/v0.3",
      "description": "Основное API (передавайте {token} в пути)"
    }
  ],
  "tags": [
    {
      "name": "Pocket",
      "description": "Мешок, переводы, донат-очки и история"
    },
    {
      "name": "UserInfo",
      "description": "Информация о пользователях"
    },
    {
      "name": "Updates",
      "description": "Получение событий/обновлений"
    },
    {
      "name": "Trade",
      "description": "Торговля и публичные рыночные данные"
    },
    {
      "name": "Tgstars",
      "description": "Операции с телеграм-звёздами"
    },
    {
      "name": "Other",
      "description": "Системные данные Ирис (агенты и т.п.)"
    }
  ],
  "components": {
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 400
              },
              "description": {
                "type": "string",
                "example": "invalid user_id"
              }
            },
            "required": [
              "code",
              "description"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "OkResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean",
            "enum": [
              true,
              false
            ],
            "example": true
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "gold": {
            "type": "integer",
            "example": 123
          },
          "sweets": {
            "type": "number",
            "format": "float",
            "example": 678.9
          },
          "donate_score": {
            "type": "number",
            "format": "integer",
            "example": 94
          }
        },
        "required": [
          "gold",
          "sweets",
          "donate_score"
        ],
        "additionalProperties": false
      },
      "GiveResult": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer",
            "example": 987654321
          }
        },
        "required": [
          "result"
        ]
      },
      "TgStarsPriceResult": {
        "type": "object",
        "properties": {
          "tgstars": {
            "type": "integer",
            "example": 100
          },
          "sweets": {
            "type": "integer",
            "example": 250
          }
        },
        "required": [
          "tgstars",
          "sweets"
        ],
        "additionalProperties": false
      },
      "TgStarsPriceResponse": {
        "type": "object",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/TgStarsPriceResult"
          }
        },
        "required": [
          "result"
        ]
      },
      "TgStarsHistoryItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 101
          },
          "date": {
            "type": "integer",
            "format": "int64",
            "example": 1759543048000
          },
          "amount": {
            "type": "integer",
            "example": -5
          },
          "balance": {
            "type": "integer",
            "example": 120
          },
          "peer_id": {
            "type": "integer",
            "format": "int64",
            "example": 661079614
          },
          "type": {
            "type": "string",
            "enum": [
              "send",
              "receive",
              "purchase"
            ],
            "example": "send"
          },
          "comment": {
            "type": "string",
            "example": "перевод пользователю"
          }
        },
        "required": [
          "id",
          "date",
          "amount",
          "balance",
          "peer_id",
          "type"
        ],
        "additionalProperties": false
      },
      "TgStarsHistory": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/TgStarsHistoryItem"
        }
      },
      "History": {
        "type": "object",
        "properties": {
          "date": {
            "type": "integer",
            "format": "int64",
            "example": 1759543048000
          },
          "amount": {
            "type": "number",
            "format": "float",
            "example": -1.05
          },
          "balance": {
            "type": "number",
            "format": "float",
            "example": 0.74
          },
          "to_user_id": {
            "type": "integer",
            "example": 271826548
          },
          "details": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "example": 1
              },
              "amount": {
                "type": "integer",
                "example": 1
              },
              "fee": {
                "type": "number",
                "example": 0.05
              },
              "donate_score": {
                "type": "number",
                "example": 0
              }
            }
          },
          "comment": {
            "type": "string",
            "example": "спасибо"
          },
          "id": {
            "type": "number",
            "example": 31402848
          },
          "type": {
            "type": "string",
            "enum": ["send", "receive", "trade", "dividends", "trade_sale_order", "send_with", "purchase_tgstars"],
            "example": "send"
          },
          "peer_id": {
            "type": "number",
            "example": 271826548
          }
        },
        "required": [
          "date",
          "amount",
          "balance",
          "to_user_id",
          "id",
          "type",
          "peer_id"
        ]
      },
      "HistoryDonateScoreItem": {
        "type": "object",
        "properties": {
          "date": {
            "type": "integer",
            "format": "int64",
            "example": 1759543048000
          },
          "amount": {
            "type": "number",
            "format": "int",
            "example": -10
          },
          "balance": {
            "type": "number",
            "format": "integer",
            "example": 1
          },
          "id": {
            "type": "number",
            "format": "integer",
            "example": 42
          },
          "type": {
            "type": "string",
            "enum": ["send", "send_with", "receive", "receive_with"],
            "example": "send"
          },
          "peer_id": {
            "type": "number",
            "example": 271826548
          }
        },
        "required": [
          "date",
          "amount",
          "balance",
          "id",
          "type",
          "peer_id"
        ]
      },
      "HistoryDonateScore": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/HistoryDonateScoreItem"
        },
        "example": [
          {
            "date": 1759554646000,
            "amount": -1,
            "balance": 299,
            "id": 8916541,
            "type": "send",
            "peer_id": 271826548
          }
        ]
      },
      "HistoryItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 101
          },
          "ts": {
            "type": "string",
            "format": "date-time",
            "example": "2025-09-21T10:00:00Z"
          },
          "type": {
            "type": "string",
            "example": "give"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "example": 10
          },
          "user_id": {
            "type": "integer",
            "example": 123456789
          },
          "comment": {
            "type": "string",
            "example": "спасибо"
          }
        },
        "additionalProperties": true
      },
      "HistoryResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/History"
        }
      },
      "UserActivityResponse": {
        "type": "object",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/UserActivityItem"
          }
        }
      },
      "UserActivityItem": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "example": 17002
          },
          "week": {
            "type": "integer",
            "example": 88
          },
          "month": {
            "type": "integer",
            "example": 158
          },
          "day": {
            "type": "integer",
            "example": 2
          }
        },
        "required": [
          "total",
          "week",
          "month",
          "day"
        ]
      },
      "UserStarsResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer",
            "example": 1775,
            "format": "int64"
          }
        },
        "required": [
          "result"
        ]
      },
      "UserRegResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer",
            "example": 1586842128000,
            "format": "int64"
          }
        },
        "required": [
          "result"
        ]
      },
      "UserPocketResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "gold": {
                "type": "integer",
                "example": 3,
                "description": "Количество голды"
              },
              "coins": {
                "type": "integer",
                "example": 393,
                "description": "Количество коинов"
              },
              "sweets": {
                "type": "number",
                "format": "float",
                "example": 6.74,
                "description": "Количество ирисок"
              },
              "stars": {
                "type": "integer",
                "example": 0,
                "description": "Количество звёзд"
              }
            },
            "required": ["gold", "coins", "sweets", "stars"],
            "additionalProperties": false
          }
        },
        "required": ["result"],
        "example": {
          "result": {
            "gold": 3,
            "coins": 393,
            "sweets": 6.74,
            "stars": 0
          }
        }
      },
      "SpamCheckResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "is_spam": {
                "type": "boolean",
                "example": false
              },
              "is_ignore": {
                "type": "boolean",
                "example": false
              },
              "is_scam": {
                "type": "boolean",
                "example": false
              }
            },
            "required": ["is_spam", "is_ignore", "is_scam"],
            "additionalProperties": false
          }
        },
        "required": ["result"],
        "example": {
          "result": {
            "is_spam": false,
            "is_ignore": false,
            "is_scam": false
          }
        }
      },
      "TradeBuyResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "done_volume": {
                "type": "integer",
                "example": 1
              },
              "sweets_spent": {
                "type": "number",
                "format": "float",
                "example": 1.74
              }
            },
            "required": ["done_volume", "sweets_spent"],
            "additionalProperties": false,
            "example": {
              "done_volume": 1,
              "sweets_spent": 1.74
            }
          },
          {
            "type": "object",
            "properties": {
              "done_volume": {
                "type": "integer",
                "example": 0,
                "description": "Сколько объёма реально куплено"
              },
              "sweets_spent": {
                "type": "number",
                "format": "float",
                "example": 0.0,
                "description": "Сколько ирисок потрачено"
              },
              "new_order": {
                "type": "object",
                "properties": {
                  "volume": {
                    "type": "integer",
                    "example": 1,
                    "description": "Объём нового ордера"
                  },
                  "price": {
                    "type": "number",
                    "format": "float",
                    "example": 1.0,
                    "description": "Цена ордера"
                  },
                  "id": {
                    "type": "integer",
                    "example": 990866,
                    "description": "ID ордера"
                  }
                },
                "required": ["volume", "price", "id"],
                "additionalProperties": false
              }
            },
            "required": ["done_volume", "sweets_spent", "new_order"],
            "additionalProperties": false,
            "example": {
              "done_volume": 0,
              "sweets_spent": 0.0,
              "new_order": {
                "volume": 1,
                "price": 1.0,
                "id": 990866
              }
            }
          }
        ]
      },
      "TradeSellResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "done_volume": {
                "type": "integer",
                "example": 2,
                "description": "Объём реально проданный"
              },
              "sweets_received": {
                "type": "number",
                "format": "float",
                "example": 3.42,
                "description": "Сколько ирисок получено"
              }
            },
            "required": ["done_volume", "sweets_received"],
            "additionalProperties": false,
            "example": {
              "done_volume": 2,
              "sweets_received": 3.42
            }
          },
          {
            "type": "object",
            "properties": {
              "done_volume": {
                "type": "integer",
                "example": 0,
                "description": "Объём реально проданный"
              },
              "sweets_received": {
                "type": "number",
                "format": "float",
                "example": 0.0,
                "description": "Сколько ирисок получено"
              },
              "new_order": {
                "type": "object",
                "properties": {
                  "volume": {
                    "type": "integer",
                    "example": 1,
                    "description": "Объём нового ордера"
                  },
                  "price": {
                    "type": "number",
                    "format": "float",
                    "example": 10.0,
                    "description": "Цена ордера"
                  },
                  "id": {
                    "type": "integer",
                    "example": 990876,
                    "description": "ID ордера"
                  }
                },
                "required": ["volume", "price", "id"],
                "additionalProperties": false
              }
            },
            "required": ["done_volume", "sweets_received", "new_order"],
            "additionalProperties": false,
            "example": {
              "done_volume": 0,
              "sweets_received": 0.0,
              "new_order": {
                "volume": 1,
                "price": 10.0,
                "id": 990876
              }
            }
          }
        ]
      },
      "CancelResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "gold": {
                "type": "integer",
                "example": 0,
                "description": "Количество возвращённого голды"
              },
              "sweets": {
                "type": "number",
                "format": "float",
                "example": 1.0,
                "description": "Количество возвращённых ирисок"
              }
            },
            "required": ["gold", "sweets"],
            "additionalProperties": false
          }
        },
        "required": ["result"],
        "example": {
          "result": {
            "gold": 0,
            "sweets": 1.0
          }
        }
      },
      "TradeOrdersResponse": {
        "type": "object",
        "properties": {
          "buy": {
            "type": "array",
            "description": "Список заявок на покупку",
            "items": {
              "type": "object",
              "properties": {
                "volume": {
                  "type": "integer",
                  "example": 1646,
                  "description": "Объём покупки"
                },
                "price": {
                  "type": "number",
                  "format": "float",
                  "example": 1.74,
                  "description": "Цена покупки"
                }
              },
              "required": ["volume", "price"],
              "additionalProperties": false
            }
          },
          "sell": {
            "type": "array",
            "description": "Список заявок на продажу",
            "items": {
              "type": "object",
              "properties": {
                "volume": {
                  "type": "integer",
                  "example": 4692,
                  "description": "Объём продажи"
                },
                "price": {
                  "type": "number",
                  "format": "float",
                  "example": 1.76,
                  "description": "Цена продажи"
                }
              },
              "required": ["volume", "price"],
              "additionalProperties": false
            }
          }
        },
        "required": ["buy", "sell"],
        "additionalProperties": false,
        "example": {
          "buy": [
            { "volume": 1646, "price": 1.74 },
            { "volume": 4441, "price": 1.73 }
          ],
          "sell": [
            { "volume": 4692, "price": 1.76 },
            { "volume": 152, "price": 1.77 }
          ]
        }
      },
      "TradeDealsResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 661706
            },
            "group_id": {
              "type": "integer",
              "example": 661702
            },
            "date": {
              "type": "integer",
              "format": "int64",
              "example": 1759654694,
              "description": "UNIX-время сделки в секундах"
            },
            "price": {
              "type": "number",
              "format": "float",
              "example": 1.75
            },
            "volume": {
              "type": "integer",
              "example": 30
            },
            "type": {
              "type": "string",
              "enum": ["buy", "sell"],
              "example": "sell"
            }
          },
          "required": [
            "id",
            "group_id",
            "date",
            "price",
            "volume",
            "type"
          ]
        }
      },
      "GetUpdatesResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 11,
              "description": "ID события"
            },
            "type": {
              "type": "string",
              "enum": ["sweets_log", "gold_log", "donate_score_log", "tgstars_log"],
              "example": "donate_score_log",
              "description": "Тип события: sweets_log — операции с ирисками, gold_log — с голдой, donate_score_log — с донат-очками, tgstars_log — с телеграм-звёздами"
            },
            "date": {
              "type": "integer",
              "format": "int64",
              "example": 1756286741,
              "description": "Время события в формате UNIX (секунды)"
            },
            "object": {
              "type": "object",
              "description": "Объект события, структура совпадает с объектами из pocket/sweets/history, pocket/gold/history, pocket/donate_score/history или pocket/tgstars/history"
            }
          },
          "required": ["id", "type", "date", "object"]
        }
      },
      "IrisAgentsResponse": {
        "type": "array",
        "items": {
          "type": "integer",
          "format": "int64"
        },
        "example": [571497337, 6826112951, 7057861690, 1072639353, 6530053533, 956560198, 1135399536, 5484288853, 1082239406, 661079614]
      },
      "LastVersionResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string",
            "example": "0.3",
            "description": "Текущая версия API Iris"
          }
        },
        "required": ["result"]
      }
    }
  },
  "paths": {
    "/{token}/pocket/balance": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Pocket"
        ],
        "summary": "Получить баланс мешка (голда, ириски, донат очки)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Balance"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "missing_required_param": {
                    "summary": "Не указан обязательный параметр",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Required parameter \"{parameter}\" is absent"
                      }
                    }
                  },
                  "bad_user_id": {
                    "summary": "Неверный user_id",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "User is 0 or not a number"
                      }
                    }
                  },
                  "denied_receiving": {
                    "summary": "Переводы пользователю запрещены",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "User denied receiving"
                      }
                    }
                  },
                  "comment_too_long": {
                    "summary": "Комментарий слишком длинный",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Длина текста слишком длинная"
                      }
                    }
                  },
                  "links_forbidden": {
                    "summary": "Запрещены ссылки",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Ссылки на сторонние сайты в тексте запрещены"
                      }
                    }
                  },
                  "mentions_forbidden": {
                    "summary": "Запрещены обращения",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Обращения к пользователям в тексте запрещены"
                      }
                    }
                  },
                  "too_many_emojis": {
                    "summary": "Слишком много смайлов",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Слишком много смайлов в тексте"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Handler Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "description": "Handler Not Found"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Flood control",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "description": "Flood control"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{token}/pocket/sweets/give": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Pocket"
        ],
        "summary": "Передать ириски пользователю",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiveResult"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "requiredParameterAbsent": {
                    "summary": "Не указан обязательный параметр",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Required parameter \"{parameter}\" is absent"
                      }
                    }
                  },
                  "invalidUserId": {
                    "summary": "Неверный user_id",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "User is 0 or not a number"
                      }
                    }
                  },
                  "userDeniedReceiving": {
                    "summary": "Переводы пользователю запрещены",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "User denied receiving"
                      }
                    }
                  },
                  "commentTooLong": {
                    "summary": "Комментарий слишком длинный",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Длина текста слишком длинная"
                      }
                    }
                  },
                  "externalLinks": {
                    "summary": "Ссылки запрещены",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Ссылки на сторонние сайты в тексте запрещены"
                      }
                    }
                  },
                  "userMentions": {
                    "summary": "Обращения к пользователям запрещены",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Обращения к пользователям в тексте запрещены"
                      }
                    }
                  },
                  "tooManyEmojis": {
                    "summary": "Слишком много смайлов",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Слишком много смайлов в тексте"
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "user_not_found": {
                    "summary": "User not found",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "User not found"
                      }
                    }
                  },
                  "no_such_bot": {
                    "summary": "No such bot",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "No such bot"
                      }
                    }
                  },
                  "handler_not_found": {
                    "summary": "Handler Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "Handler Not Found"
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "429": {
            "description": "Flood control",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "description": "Flood control"
                  }
                }
              }
            }
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 409,
                    "description": "Not enough {currently}. Need {quantity}"
                  }
                }
              }
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 123456789
            }
          },
          {
            "name": "sweets",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1e-8,
              "example": 10
            }
          },
          {
            "name": "comment",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "спасибо"
            }
          },
          {
            "name": "without_donate_score",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "donate_score",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "int",
              "example": -1
            }
          }
        ]
      }
    },
    "/{token}/pocket/gold/give": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Pocket"
        ],
        "summary": "Передать голду пользователю",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiveResult"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "requiredParameterAbsent": {
                    "summary": "Не указан обязательный параметр",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Required parameter \"{parameter}\" is absent"
                      }
                    }
                  },
                  "invalidUserId": {
                    "summary": "Неверный user_id",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "User is 0 or not a number"
                      }
                    }
                  },
                  "userDeniedReceiving": {
                    "summary": "Переводы пользователю запрещены",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "User denied receiving"
                      }
                    }
                  },
                  "commentTooLong": {
                    "summary": "Комментарий слишком длинный",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Длина текста слишком длинная"
                      }
                    }
                  },
                  "externalLinks": {
                    "summary": "Ссылки запрещены",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Ссылки на сторонние сайты в тексте запрещены"
                      }
                    }
                  },
                  "userMentions": {
                    "summary": "Обращения к пользователям запрещены",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Обращения к пользователям в тексте запрещены"
                      }
                    }
                  },
                  "tooManyEmojis": {
                    "summary": "Слишком много смайлов",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Слишком много смайлов в тексте"
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "user_not_found": {
                    "summary": "User not found",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "User not found"
                      }
                    }
                  },
                  "no_such_bot": {
                    "summary": "No such bot",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "No such bot"
                      }
                    }
                  },
                  "handler_not_found": {
                    "summary": "Handler Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "Handler Not Found"
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "429": {
            "description": "Flood control",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "description": "Flood control"
                  }
                }
              }
            }
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 409,
                    "description": "Not enough {currently}. Need {quantity}"
                  }
                }
              }
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 123456789
            }
          },
          {
            "name": "gold",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1e-8,
              "example": 10
            }
          },
          {
            "name": "comment",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "спасибо"
            }
          },
          {
            "name": "without_donate_score",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "donate_score",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "int",
              "example": -1
            }
          }
        ]
      }
    },
    "/{token}/pocket/donate_score/give": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Pocket"
        ],
        "summary": "Передать очки доната пользователю",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiveResult"
                }
              }
            }
          },
          "400": {
            "description": "Возможные ошибки: 1 — Required parameter \"{parameter}\" is absent; 2 — User is 0 or not a number; 3 — User denied receiving; 4 — Длина текста слишком длинная (максимум 128 символов); 5 — Ссылки на сторонние сайты в тексте запрещены; 6 — Обращения к пользователям в тексте запрещены; 7 — Слишком много смайлов в тексте (максимум 99)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "requiredParameterAbsent": {
                    "summary": "Не указан обязательный параметр",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Required parameter \"{parameter}\" is absent"
                      }
                    }
                  },
                  "invalidUserId": {
                    "summary": "Неверный user_id",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "User is 0 or not a number"
                      }
                    }
                  },
                  "userDeniedReceiving": {
                    "summary": "Переводы пользователю запрещены",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "User denied receiving"
                      }
                    }
                  },
                  "commentTooLong": {
                    "summary": "Комментарий слишком длинный",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Длина текста слишком длинная"
                      }
                    }
                  },
                  "externalLinks": {
                    "summary": "Ссылки запрещены",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Ссылки на сторонние сайты в тексте запрещены"
                      }
                    }
                  },
                  "userMentions": {
                    "summary": "Обращения к пользователям запрещены",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Обращения к пользователям в тексте запрещены"
                      }
                    }
                  },
                  "tooManyEmojis": {
                    "summary": "Слишком много смайлов",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Слишком много смайлов в тексте"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "16 — User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "description": "User not found"
                  }
                }
              }
            }
          },
          "409": {
            "description": "19 — Not enough {currently}. Need {quantity}",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 409,
                    "description": "Not enough {currently}. Need {quantity}"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 5
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 123456789
            }
          },
          {
            "name": "comment",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "на наклейки"
            }
          }
        ]
      }
    },
    "/{token}/pocket/sweets/history": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Pocket"
        ],
        "summary": "История операций с ирисками",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name" : "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "description": "No such bot"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{token}/pocket/gold/history": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Pocket"
        ],
        "summary": "История операций с голдой",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name" : "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "no_such_bot": {
                    "summary": "No such bot",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "No such bot"
                      }
                    }
                  },
                  "handler_not_found": {
                    "summary": "Handler Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "Handler Not Found"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Flood control",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "description": "Flood control"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{token}/pocket/donate_score/history": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Pocket"
        ],
        "summary": "История операций с очками доната",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryDonateScore"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "description": "No such bot"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{token}/pocket/tgstars/give": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Tgstars"
        ],
        "summary": "Передать тг-звёзды пользователю",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiveResult"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "requiredParameterAbsent": {
                    "summary": "Не указан обязательный параметр",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Required parameter \"{parameter}\" is absent"
                      }
                    }
                  },
                  "invalidUserId": {
                    "summary": "Неверный user_id",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "User is 0 or not a number"
                      }
                    }
                  },
                  "userDeniedReceiving": {
                    "summary": "Переводы пользователю запрещены",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "User denied receiving"
                      }
                    }
                  },
                  "commentTooLong": {
                    "summary": "Комментарий слишком длинный",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Длина текста слишком длинная"
                      }
                    }
                  },
                  "externalLinks": {
                    "summary": "Ссылки запрещены",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Ссылки на сторонние сайты в тексте запрещены"
                      }
                    }
                  },
                  "userMentions": {
                    "summary": "Обращения к пользователям запрещены",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Обращения к пользователям в тексте запрещены"
                      }
                    }
                  },
                  "tooManyEmojis": {
                    "summary": "Слишком много смайлов",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Слишком много смайлов в тексте"
                      }
                    }
                  },
                  "invalidTgStars": {
                    "summary": "Количество тг-звёзд указано неверно",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Tg stars is 0 or not a number"
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "user_not_found": {
                    "summary": "User not found",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "User not found"
                      }
                    }
                  },
                  "no_such_bot": {
                    "summary": "No such bot",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "No such bot"
                      }
                    }
                  },
                  "handler_not_found": {
                    "summary": "Handler Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "Handler Not Found"
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "429": {
            "description": "Flood control",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "description": "Flood control"
                  }
                }
              }
            }
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 409,
                    "description": "Not enough {currently}. Need {quantity}"
                  }
                }
              }
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "name": "tgstars",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 10
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 123456789
            }
          },
          {
            "name": "comment",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "спасибо"
            }
          }
        ]
      }
    },
    "/{token}/pocket/tgstars/history": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Tgstars"
        ],
        "summary": "История операций с тг-звёздами",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "ID записи, начиная с которой нужно вернуть данные"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 200
            },
            "description": "Количество записей (по умолчанию 200)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TgStarsHistory"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "no_such_bot": {
                    "summary": "No such bot",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "No such bot"
                      }
                    }
                  },
                  "handler_not_found": {
                    "summary": "Handler Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "Handler Not Found"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Flood control",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "description": "Flood control"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{token}/pocket/tgstars/buy": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Tgstars"
        ],
        "summary": "Купить тг-звёзды за ириски",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiveResult"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "requiredParameterAbsent": {
                    "summary": "Не указан обязательный параметр",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Required parameter \"{parameter}\" is absent"
                      }
                    }
                  },
                  "invalidTgStars": {
                    "summary": "Количество тг-звёзд указано неверно",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Tg stars is 0 or not a number"
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 409,
                    "description": "Not enough {currently}. Need {quantity}"
                  }
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "description": "No such bot"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "tgstars",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 10
            }
          }
        ]
      }
    },
    "/{token}/pocket/tgstars/price": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Tgstars"
        ],
        "summary": "Оценка стоимости покупки тг-звёзд",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TgStarsPriceResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "requiredParameterAbsent": {
                    "summary": "Не указан обязательный параметр",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Required parameter \"{parameter}\" is absent"
                      }
                    }
                  },
                  "invalidTgStars": {
                    "summary": "Количество тг-звёзд указано неверно",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Tg stars is 0 or not a number"
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "no_such_bot": {
                    "summary": "No such bot",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "No such bot"
                      }
                    }
                  },
                  "handler_not_found": {
                    "summary": "Handler Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "Handler Not Found"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Flood control",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "description": "Flood control"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "tgstars",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 10
            }
          }
        ]
      }
    },
    "/{token}/pocket/enable": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Pocket"
        ],
        "summary": "Открыть доступ к мешку",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "no_such_bot": {
                    "summary": "No such bot",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "No such bot"
                      }
                    }
                  },
                  "handler_not_found": {
                    "summary": "Handler Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "Handler Not Found"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Flood control",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "description": "Flood control"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{token}/pocket/disable": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Pocket"
        ],
        "summary": "Закрыть доступ к мешку",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "no_such_bot": {
                    "summary": "No such bot",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "No such bot"
                      }
                    }
                  },
                  "handler_not_found": {
                    "summary": "Handler Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "Handler Not Found"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Flood control",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "description": "Flood control"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{token}/pocket/allow_all": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Pocket"
        ],
        "summary": "Разрешить всем переводить в мешок",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "no_such_bot": {
                    "summary": "No such bot",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "No such bot"
                      }
                    }
                  },
                  "handler_not_found": {
                    "summary": "Handler Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "Handler Not Found"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Flood control",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "description": "Flood control"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{token}/pocket/deny_all": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Pocket"
        ],
        "summary": "Запретить всем переводить в мешок",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "no_such_bot": {
                    "summary": "No such bot",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "No such bot"
                      }
                    }
                  },
                  "handler_not_found": {
                    "summary": "Handler Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "Handler Not Found"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Flood control",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "description": "Flood control"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{token}/pocket/allow_user": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Pocket"
        ],
        "summary": "Разрешить пользователю переводить в мешок",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "requiredParameterAbsent": {
                    "summary": "Не указан обязательный параметр",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Required parameter \"{parameter}\" is absent"
                      }
                    }
                  },
                  "invalidUserId": {
                    "summary": "Неверный user_id",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "User is 0 or not a number"
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "no_such_bot": {
                    "summary": "No such bot",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "No such bot"
                      }
                    }
                  },
                  "handler_not_found": {
                    "summary": "Handler Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "Handler Not Found"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Flood control",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "description": "Flood control"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 123456789
            }
          }
        ]
      }
    },
    "/{token}/pocket/deny_user": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Pocket"
        ],
        "summary": "Запретить пользователю переводить в мешок",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "requiredParameterAbsent": {
                    "summary": "Не указан обязательный параметр",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "Required parameter \"{parameter}\" is absent"
                      }
                    }
                  },
                  "invalidUserId": {
                    "summary": "Неверный user_id",
                    "value": {
                      "error": {
                        "code": 400,
                        "description": "User is 0 or not a number"
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "no_such_bot": {
                    "summary": "No such bot",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "No such bot"
                      }
                    }
                  },
                  "handler_not_found": {
                    "summary": "Handler Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "Handler Not Found"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Flood control",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "description": "Flood control"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 123456789
            }
          }
        ]
      }
    },
    "/{token}/getUpdates": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "Updates"
        ],
        "summary": "Получить события (updates)",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "ID последнего полученного события. Следующие события будут возвращены с id > offset."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUpdatesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "no_such_bot": {
                    "summary": "No such bot",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "No such bot"
                      }
                    }
                  },
                  "handler_not_found": {
                    "summary": "Handler Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "Handler Not Found"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Flood control",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "description": "Flood control"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{token}/user_info/reg": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "UserInfo"
        ],
        "summary": "Первое появление пользователя",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRegResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "description": "Required parameter \"{parameter}\" is absent"
                  }
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "description": "Invalid token"
                  }
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "description": "Rights are not given"
                  }
                }
              }
            },
            "description": ""
          },
          "404": {
            "description": "No such bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "no_such_bot": {
                    "summary": "No such bot",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "No such bot"
                      }
                    }
                  },
                  "handler_not_found": {
                    "summary": "Handler Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "description": "Handler Not Found"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Flood control",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 429,
                    "description": "Flood control"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 123456789
            }
          }
        ]
      }
    },
    "/{token}/user_info/activity": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "UserInfo"
        ],
        "summary": "Активность пользователя (day/week/month/total)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserActivityResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 400,
                    "description": "Required parameter \"{parameter}\" is absent"
                  }
                }
              }
            },
            "description": ""
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": {
                    "code": 403,
                    "description": "Rights are not given"
                  }
                }
              }
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 123456789
            }
          }
        ]
      }
    },
    "/{token}/user_info/spam": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Конкатенация: {bot_id}_{iris_token}",
          "schema": {
            "type": "string",
            "example": "12345_abcdEFGH"
          }
        }
      ],
      "get": {
        "tags": [
          "UserInfo"
        ],
        "summary": "Статус в базах spam/scam/ignore",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpamCheckResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
[...]
